/* GENERAL RULES */
:root {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <a> */
a {
  text-decoration: none;
  color: inherit;
}

/* <main> */
main {
  background-color: #fff9e9;
  padding: 0 20px;
  min-height: calc(100vh - 60px);
}

/* pages_main_components */
/* Header.jsx */
header {
  height: 60px;
  border-bottom: solid 1px black;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #845831;
  color: white;
}

header i {
  color: #d61414;
}

/* pages */
/* HeadphoneDetail.jsx */
.loading {
  font-size: larger;
}

.headphone-card {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.headphone-card p {
  font-size: larger;
}

/* HomePage.jsx */
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

/* input */
.search input {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.2s ease;
  backdrop-filter: blur(3px);
  font-family: inherit;
}

input:focus {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* category */
.search select {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.2s ease;
  backdrop-filter: blur(3px);
  font-family: inherit;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
  cursor: pointer;
}

.search select:focus {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* sort */
.search i {
  cursor: pointer;
}

/* reset */
.search button {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.2s ease;
  backdrop-filter: blur(3px);
  font-family: inherit;
  cursor: pointer;
}

.search button:hover {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* headphones-card */
.not-found {
  font-size: larger;
}

.headphones-card {
  margin-bottom: 10px;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.headphones-card p {
  font-size: larger;
}